.initechNode {
    border: solid 1px black;
    border-radius: 3px;
    padding: 15px 5% 15px 5%;
    width: 50%;
    display: inline-block;
    background-color:black;
    color: white;
}

.expandedinitechNode {
    background-color: red;
    border: solid 1px white;
    border-radius: 3px;
    padding: 15px 5% 15px 5%;
    width: 50%;
    display: inline-block;
    color: white;
}

#initechOrgChart .orgNodeChildGroup .nodeGroupLineVerticalMiddle {
    border-right: solid 1px black;
    border-radius: 5px;
}

.orgNodeChildGroup{
    width: 100%;
    border-radius: 10px;
}

#initechOrgChart .nodeLineBorderTop {
    border-top: solid 1px black;
}

.reactOrgChart {
    margin: 0px;
}

.reactOrgChart .orgNodeChildGroup .node {
    border: solid 1px #000000;
    display: inline-block;
    width: 100px;
}

.reactOrgChart .orgNodeChildGroup .nodeCell {
    text-align: center;
}

.reactOrgChart .orgNodeChildGroup .nodeGroupCell {
    vertical-align: top;
}

.reactOrgChart .orgNodeChildGroup .nodeGroupLineVerticalMiddle {
    height: 25px;
    width: 50%;
    border-right: 2px solid #000;
}

.reactOrgChart .nodeLineBorderTop {
    border-top: solid 2px #000;
}

.reactOrgChart table {
    border-collapse: collapse;
    border: none;
    margin: 0 auto;
}

.reactOrgChart td {
    padding: 0;
}

.reactOrgChart table.nodeLineTable {
    width: 100%;
}

.reactOrgChart table td.nodeCell {
    width: 50%;
}