.App {
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

nav{
  background-color: #36393f;
  padding: 10px;
}

nav > div {
  padding-right: 4%;
}

a{
  text-decoration: none;
  color: white;
  padding: 0px 20px;

}

a:hover{
  color: #db6450;
}

a.active{
  color: #db6450;
}